body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

/*Grid Container*/

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 2rem;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
}

/*Grid Items*/

.grid-center {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

.grid-middle-one {
  grid-column-start: 2;
  grid-row-start: 1;
}

form .grid-form-items {
  justify-self: left;
  align-self: center;
  margin: 0.5rem;
  width: 100%;
}

form .avatar-form-item {
  justify-self: center;
  align-self: center;
  margin: 0.5rem;
  width: 150px;
  height: 150px;
}

form .form-item-center {
  text-align: center;
}

/*Other Stuff*/

.skillPoints {
  background-color: #90caf9;
  padding: 0.4rem;
  border-radius: 1rem;
  font-weight: bold;
}

.maxLevel {
  background-color: #f48fb1;
  padding: 0.4rem;
  border-radius: 1rem;
  font-weight: bold;
}

.formError {
  color: #f44336;
}

/*Docs https://material-ui.com/*/
